:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-title {
  font-family: 'Seaweed Script', cursive;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.51em;
  color: #FF8A00;
  text-align: center;
  margin-right: 40px;
}
