:host {
  width: 250px;
  padding: 30px 40px;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__name {
    color: #818181;
  }
}

.applyButton {
  width: 180px;
  height: 39px;
  background-color: #4E4E4E;
  color: white;
  font-family: 'Roboto Bold', sans-serif;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background-color: #5E5E5E;
  }
}
